:root {
  /* fonts */
  --base-font: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Calibri, sans-serif;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 600;

  /* colors */
  --bg: #f1f1f1;
  --text-color: #444;

  /* sizing */
  --container-width: 580px;
}


/* base element styles */
body {
  background-color: var(--bg);
  color: var(--text-color);
  font-family: var(--base-font);
}


/* layout */
.container {
  max-width: var(--container-width);
  border: 1px dashed gray;
  margin: 0 auto;
}