:root {
  /* fonts */
  --base-font: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Calibri, sans-serif;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 600;

  /* colors */
  --bg: #fff;
  --text-color: #444;
  --gray-light: #f9f9f9;
  --gray-dark: #606060;
  --gray: #e9e9e9;
  --brand: #37bbe4;

  /* sizing */
  --container-width: 580px;
  --spacing: 2.4rem;
}


/* base element styles */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

}

html {
  font-size: 62.5%; /* 10px = 1rem */
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--bg);
  color: var(--text-color);
  font-family: var(--base-font);
  font-size: 1rem;
}

a {
  color: var(--brand);
}

hr {
  border-top: 1px solid var(--gray);
  display: block;
  height: 0;
  padding: 0;
}

/* layout */
.container {
  /* min-height: 100vh; */
  /* padding: 12rem 0; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


/* bot */
.bot {
  margin: 0 auto;
  max-width: var(--container-width);
  margin-top: 12rem;
}

/* welcome screen */
.welcome {
  background-color: var(--gray-light);
  width: 100%;
  min-height: 99vh;
  display: flex;
  justify-content: center;
  padding-top: 15vh;
}

.welcome .bot {
  margin-top: 0;
  width: 50%;
}

.welcome .notice {
  padding-right: 2rem;
  width: 50%;
}

.notice h1 {
  margin-bottom: 1.2rem;
}

.notice p {
  font-size: 1.2rem;
  max-width: 640px;
  line-height: 1.85;
}

.notice .links {
  font-size: 1.2rem;
  list-style-type: none;
}

.notice .links li {
  margin-top: 1rem;
}

/* board */
.board {

}

/* demo */
.demo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.demo__bot {
  width: 35%;
  height: 100vh;
  border-right: 1px solid var(--gray);
  padding-top: 4rem;
}

.demo__bot .bot {
  margin-top: 0;
}

.demo__board {
  width: 65%;
  height: 100vh;
  padding: 0 2rem;
  padding-top: 4rem;
}

.demo__board h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--gray-dark);
}

.schedule {
  list-style-type: none;
}

.schedule li {
  margin-top: 1.5rem;
  font-size: 1.1rem;
}

.schedule li span {
  font-weight: var(--fw-bold);
}


.demo iframe {
  border: none;
  width: 100%;
  height: 99vh;
}

.addon.hidden {
  height: 0;
  display: none;
}

.addon {
  background-color: rgba(255,235,0, 0.35);
  padding: 0.5rem 0;
  display: flex;
}

.addon .notification {
  margin-left: 4rem;
  font-size: 0.75rem;
}

/* media querries */
@media only screen and (max-width: 600px) {
  .bot {
    margin-top: 2rem;
  }
  .welcome {
    display: flex;
    padding: 5vh 1rem 0 1rem;
    flex-wrap: wrap;

  }

  .welcome .bot {
    width: 100%;
    order: 2;
    margin-top: 2rem;
  }

  .welcome .notice {
    width: 100%;
  }
}