/* global variables */
:root {
  /* fonts */
  --base-font: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Calibri, sans-serif;
  --fw-light: 300
  --fw-normal: 400
  --fw-bold: 600

  /* colors */
  --bg: #dddddd;
  --text-color: #333333;
}


/* base element styles */
body {
  background-color: var(--bg);
  color: var(--text-color);
  font-family: var(--base-font);
}