<h1>Hello {{name}}<h1>

<form class="send-form" action="/send-message" method="POST">
  <input class="send-form__input" placeholder="your message" />
  <button class="send-form__button">Send Me</button>
</form>
