<div class="welcome">

  <div class="bot">
    <div class="botui-app-container" id="hello-world">
      <bot-ui></bot-ui>
    </div>
  </div>

  <div class="notice">
    <h1>Spirit of the Place</h1>
    <p>This is a basic demonstration of the ‘Spirit of the Place’ chatbot put together over a weekend on City Data Hack 2018.</p>
    <ul class="links">
      <li>
        <a href="https://github.com/CityDataHack/AlternativeTreatment" target="_blank">
        GitHub (project documentation)
        </a>
      </li>
      <li>
        <a href="/demo" target="_blank">
        Demo
        </a>
      </li>
      <li>
        <a href="/bot" target="_blank">
        Chatbot
        </a>
      </li>
    </ul>
  </div>

</div>