<div class="bg">
  <div class="bot">
    <div class="botui-app-container" id="hello-world">
      <bot-ui></bot-ui>
    </div>
  </div>

  <div class="notice">
    <p>This is a basic demonstration of the ‘Spirit of the Place’ chatbot put together on City Data Hack 2018. <a href="https://github.com/CityDataHack/AlternativeTreatment" target="_blank">Visit the GitHub repo</p>
  </div>
</div>